*
{
font-size:30px;
}

.na
{
background-color:black;
}

.na a
{

color:white;
text-decoration:None;
margin:40px;
}

h2
{
border-style:solid;
width:50%;
border-radius:30px;
}

body
{
background-color:Lemonchiffon;
}





